/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  background-color: gray; /* Light gray background */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  color: #333;
  text-align: center;
  font-weight: 500;
}

.timer-box {
  background-color: #0ff0f0;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

